persistent_client_expiration 1d
autosave_interval 300

listener 1883
allow_anonymous true

listener 8083
protocol websockets
allow_anonymous true

max_queued_messages 0

connection {{ mosquitto_connection_name }}
address {{ mosquitto_remote_connection_address }}

bridge_cafile /etc/ssl/certs/ISRG_Root_X1.pem
bridge_attempt_unsubscribe false

remote_clientid {{ ansible_hostname }}

remote_username {{ mosquitto_remote_username }}
remote_password {{ mosquitto_remote_password }}

cleansession false

topic home/# out 2
