{
    "brokerAddress": "{{ mqtt_host }}",
    "clientId": "pi-home-dashboard",
	"topics": {
        "weather": [
            "{{ mqtt_topics.outdoor.weather }}",
            "{{ mqtt_topics.indoor.weather }}",
            "{{ mqtt_topics.office.weather }}",
            "{{ mqtt_topics.backroom.weather }}"
        ],
        "airquality": [
            "{{ mqtt_topics.outdoor.airquality }}"
        ],
        "power": [
            "{{ mqtt_topics.power_usage }}"
        ],
        "displays": [
            "{{ mqtt_topics.display_commands }}"
        ]
    },
    "location": {
        "latitude": {{ pi_home_dashboard_latitude }},
        "longitude": {{ pi_home_dashboard_longitude }}
    },
    "clientIds": [
        "outdoor", "backroom", "indoor", "office"
    ]
}
