{
    "brokerAddress": "{{ mqtt_host }}",
	"topics": {
        "weather": [
            "home/outdoor/weather",
            "home/indoor/weather",
            "home/office/weather"
        ],
        "airquality": [
            "home/outdoor/airquality"
        ],
        "power": [
            "home/power"
        ],
        "hyperpixel": "automation/hyperpixel"
    }
}
