POSTGRES_PASSWORD={{ powerwall_to_pvoutput_uploader_postgres_password }}

TIMEZONE={{ pvoutput_timezone }}

POWERWALL_URL={{ powerwall_url }}
POWERWALL_EMAIL={{ powerwall_email }}
POWERWALL_PASSWORD={{ powerwall_password }}

PVOUTPUT_API_KEY={{ pvoutput_api_key }}
PVOUTPUT_SYSTEM_ID={{ pvoutput_system_id }}
PVOUTPUT_SEND_EXTENDED_DATA=true

MQTT_HOST={{ mqtt_host }}
MQTT_TOPIC={{ mqtt_topics.power_usage }}

{# DISABLE_PVOUTPUT_UPLOAD=true
DEBUG=true #}
