{
    "brokerAddress": "{{ mqtt_host }}",
    "clientId": "display-brightness-control_{{ inventory_hostname }}",
    "topic": "automation/hyperpixel",
    "brightness": "{{ hyperpixel_brightness_setting }}"
}
