{
    "brokerAddress": "{{ mqtt_broker_address }}",
    "clientId": "display-brightness-control_{{ inventory_hostname }}",
    "clean": false,
    "topic": "automation/hyperpixel",
    "brightness": "{{ hyperpixel_brightness_setting }}"
}
